.form {
  display: flex;
  gap: 20px;
}

.form__box {
  padding: 20px;
  width: 50%;
  color: #1c1a27;
  background-color: #f9f871;
}

.form__article {
  & h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  & label {
    font-size: 16px;
    font-weight: 600;
  }

  &:not(&:last-child) {
    margin-bottom: 20px;
  }
}

.form__innerbox {
  display: flex;
  gap: 20px;
}

.form__listbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form__listlabel {
  flex-basis: calc(30%);

  & input {
    display: inline-block;
    margin-left: 10px;
  }
}

.form__input {
  padding: 5px;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

.url {
  width: 70%;
}

.form__reasonbox {
  margin-top: 20px;
  padding: 20px;
  color: #1c1a27;
  background-color: #f9f871;

  & h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  & label {
    font-size: 16px;
    font-weight: 600;
  }
}

.form__reasons {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: block;
  resize: vertical;
  font-size: 18px;
  outline: none;
}

.form__submitbtn {
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  display: block;
  font-size: 24px;
  letter-spacing: 0.8px;
  background-color: #312d4a;
  color: #fbf7ff;
  border: none;
  cursor: pointer;
  transition: background-color 400ms ease-out, color 400ms ease-out;

  &:hover,
  &:focus {
    color: #312d4a;
    background-color: #f9f871;
  }
}
