.registrationForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & label {
    font-size: 16px;
    font-weight: 600;
  }
}

.registrationForm__input {
  margin-left: 10px;
  padding: 5px;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

.registrationForm__submitbtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #312d4a;
  color: #fbf7ff;
  border: none;
  transition: background-color 400ms ease-out, color 400ms ease-out;

  &:hover,
  &:focus {
    color: #312d4a;
    background-color: #f9f871;
  }
}
