.header {
  padding: 20px;
}

.main {
  padding: 20px 40px;

  & h1 {
    text-align: center;
    font-size: 32px;
  }

  & h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
  }
}
